/*

                ##  ##
                ##  ##
                ############
                ##  ##   ##
                ##  ##  ##
                       ######

     HZ University of Applied Sciences

     _________________________________

      MADE BY: JESSE KRAMER (HBO-ICT)
       - frontendcoffee.github.io -

*/

body {
    margin: 0;
    background: rgb(0, 122, 201);
}
#sidebar {
    position: fixed;
    top: 0;
    left: 1rem;
    background: url('img/hz.png'),white;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 3vh;
    height: 100vh;
    width: 10vw;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    z-index: 1;
}
#video {
    width: 640px;
    height: 360px;
    position: fixed;
    top: 50%;
    left: calc(50% + 5vw + 1rem);
    transform: translate(-50%, -50%);
}
footer {
    position: fixed;
    bottom: 0;
    left: calc(10vw + 2rem);
    width: calc(100vw - 10vw - 2rem);
    text-align: center;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 2em;
    display: flex;
}
.footer-column {
    flex: 1;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.footer-column:hover {
    text-decoration: underline;
}
